$primary: rgb(6,13,23);
$secondary: rgb(28,37,47);
$font-primary: white;
$font-color: rgb(175, 170, 170);
$btn-color: rgb(251,197,0);
$card-btn: rgb(76,90,103);
$font-secondary: rgb(116,160,178);
$bg-black: #0f0f0f;